/**
 * @name Better Server Discovery
 * @author baer1
 * @description Removes clutter from the Server Discovery list
 * @version 0.0.1
 */

.sidebar_c48ade:has(.header__551b0):has(.nav__551b0) {
  transition: width 150ms ease-out;
  // Hide sidebar if not hovered
  .wrapper_ef3116.guilds_c48ade:not(:hover) ~ * &:not(:hover) {
    width: 0 !important;
  }

  // If sidebar fits discover layout, apply other changes using ~
  & ~ * .container_e9ef78 {
    height: 0;
    min-height: 0;
    max-height: 0;
    opacity: 0;
  }
}
