[Unit]
Description=Set discord status to idle "afk"
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=python3 /usr/local/bin/setdiscordstatus.py -id ~/.discordstatus.json -s idle -t afk
ExecStop=python3 /usr/local/bin/setdiscordstatus.py -ir ~/.discordstatus.json

