$link-color: light-dark(#e00, #b00);
$link-color-hover: light-dark(#f66, #d22);
$title-color: light-dark(#222, #aaa);
$background: light-dark(#eee, #111);

:root {
  color-scheme: light dark;
}

body {
  background: $background;

  div {
    color: $title-color;

    a {
      color: $link-color;
      &:hover {
        color: $link-color-hover;
      }
    }
  }
}
