@use "variables";

body {
  display: flex;
  flex-direction: column;
  user-select: none;

  > * {
    width: fit-content;
  }

  > div {
    display: flex;
    flex-direction: row;
    gap: 8px;

    > span {
      cursor: pointer;
      align-self: center;
      svg {
        height: 40px;
        fill: variables.$link-color;
        &:hover {
          fill: variables.$link-color-hover;
        }
      }
    }
  }

  > a:not([href]) {
    color: inherit;
  }
}

#sha::before {
  content: "commit ";
}
#author::before {
  content: "author ";
}
#date::before {
  content: "created ";
}
#text {
  margin-top: 16px;
}

#return {
  position: fixed;
  bottom: 8px;
  left: 8px;
  text-decoration: none;
}
